extend ../layout.pug

block content
  h2= t('emails.contributionDeleted.title')
  .text-block
    include ../includes/salutation.pug
    p= t('emails.contributionDeleted.commonGoodContributionDeleted', { contributionMemo, senderFirstName, senderLastName })
  .content
    include ../includes/contributionDetailsCTA.pug
    include ../includes/doNotReply.pug
