// Badges

$badge-font-size: 66% ;
$badge-font-weight: $font-weight-bold ;
$badge-padding-y: 0.35rem ;
$badge-padding-x: 0.375rem ;
$badge-border-radius: $border-radius ;
$badge-text-transfom: uppercase;
$badge-pill-padding-x: 0.875em ;
$badge-pill-border-radius: 10rem ;
$badge-circle-size: 2rem ;
