
// Badges

$badge-font-size:                   66% !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-padding-y:                   .35rem !default;
$badge-padding-x:                   .375rem !default;
$badge-border-radius:               $border-radius !default;
$badge-text-transfom:               uppercase;

$badge-pill-padding-x:              .875em !default;
$badge-pill-border-radius:          10rem !default;

$badge-circle-size:                 2rem !default;
