// Buttons + Forms

$input-btn-padding-y: 0.625rem ;
$input-btn-padding-x: 0.75rem ;
$input-btn-line-height: $shape-height-base ;
$input-btn-focus-width: 0 ;
$input-btn-focus-color: rgba($component-active-bg, 1) ;
$input-btn-focus-box-shadow: 0 0 0 0 rgb(255 255 255 / 0%);
$input-btn-padding-y-sm: 0.25rem ;
$input-btn-padding-x-sm: 0.5rem ;
$input-btn-line-height-sm: $shape-height-sm ;
$input-btn-padding-y-lg: 0.875rem ;
$input-btn-padding-x-lg: 1rem ;
$input-btn-line-height-lg: $shape-height-lg ;
$input-btn-border-width: 1px ;
$input-btn-font-size-sm: 0.75rem ;
$input-btn-font-size: 0.875rem ;
$input-btn-font-size-lg: 0.875rem ;
