// Cards

$card-spacer-y: 1.25rem ;
$card-spacer-x: 1.5rem ;
$card-border-width: $border-width ;
$card-border-radius: $border-radius ;
$card-border-color: rgba($black, 0.05) ;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width}) ;
$card-cap-bg: $white ;
$card-bg: $white ;
$card-img-overlay-padding: 1.25rem ;

// $card-group-margin:                 ($grid-gutter-width / 2);
// $card-deck-margin:                  $card-group-margin ;

$card-columns-count: 3 ;
$card-columns-gap: 1.25rem ;
$card-columns-margin: $card-spacer-y ;
