// Chart

$chart-height: 350px ;
$chart-height-sm: 230px ;
$chart-legend-margin-top: 2.5rem ;
$chart-legend-font-size: $font-size-sm ;
$chart-legend-color: $text-muted ;
$chart-legend-height: $chart-legend-margin-top + $chart-legend-font-size * $line-height-base ;
