// Close

$close-font-size:                   $font-size-base * 1.5 !default;
$close-font-weight:                 $font-weight-bold !default;
$close-bg:                          transparent !default;
$close-hover-bg:                    transparent !default;
$close-color:                       rgba(0, 0, 0, .6) !default !default;
$close-hover-color:                 rgba(0, 0, 0, .9) !default;
$close-text-shadow:                 none !default;