// Close

$close-font-size: $font-size-base * 1.5 ;
$close-font-weight: $font-weight-bold ;
$close-bg: transparent ;
$close-hover-bg: transparent ;
$close-color: rgb(0 0 0 / 60%)  ;
$close-hover-color: rgb(0 0 0 / 90%) ;
$close-text-shadow: none ;
