// Close

$close-font-size: $font-size-base * 1.5 !default;
$close-font-weight: $font-weight-bold !default;
$close-bg: transparent !default;
$close-hover-bg: transparent !default;
$close-color: rgb(0 0 0 / 60%) !default !default;
$close-hover-color: rgb(0 0 0 / 90%) !default;
$close-text-shadow: none !default;
