// Datepicker
@use "sass:color";

$datepicker-border-radius: $card-border-radius ;
$datepicker-dropdown-padding: 20px 22px ;
$datepicker-cell-transition: $transition-base ;
$datepicker-cell-hover-background: color.adjust($gray-400, $lightness: 55%);
$datepicker-cell-border-radius: 50% ;
$datepicker-cell-width: 36px ;
$datepicker-cell-height: 36px ;
$datepicker-disabled-cell-color: $gray-300 ;
$datepicker-disabled-old-new-color: $gray-500 ;
$datepicker-header-cell-border-radius: $border-radius ;
$datepicker-active-color: $white ;
$datepicker-active-background: $primary ;
$datepicker-active-box-shadow: 0 0 0 0 rgb(255 255 255 / 0%); ;
$datepicker-range-background: $primary ;
$datepicker-range-cell-focused-background: color.adjust($datepicker-range-background, $lightness: -5%);
$datepicker-range-color: $white ;
$datepicker-range-highlighted-bg: $gray-200 ;
$datepicker-dropdown-border: color.adjust($gray-400, $lightness: 40%);
$datepicker-dropdown-bg: $white ;
$datepicker-highlighted-bg: $datepicker-active-background ;
