// Dropdown

$dropdown-bg: $white ;
$dropdown-border-width: 0 ;
$dropdown-border-color: rgba($black, 0.15) ;
$dropdown-border-radius: $border-radius-lg ;
$dropdown-box-shadow: 0 50px 100px rgb(50 50 93 / 10%),
  0 15px 35px rgb(50 50 93 / 15%),
  0 5px 15px rgb(0 0 0 / 10%) ;
