// Fonts
$font-family-sans-serif: open sans, sans-serif ;
$font-family-base: $font-family-sans-serif ;
$font-size-base: 1rem ; // Assumes the browser default, typically `16px`
$font-size-xl: ($font-size-base * 1.5);
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * 0.875);
$font-size-xs: ($font-size-base * 0.75);
$font-weight-light: 300 ;
$font-weight-normal: 400 ;
$font-weight-bold: 600 ;
$font-weight-extra-bold: 700 ;
$font-weight-base: $font-weight-normal ;
$line-height-base: 1.5 ;
$shape-height-base: 1.5 ;
$h1-font-size: $font-size-base * 1.625 ;
$h2-font-size: $font-size-base * 1.25 ;
$h3-font-size: $font-size-base * 1.0625 ;
$h4-font-size: $font-size-base * 0.9375 ;
$h5-font-size: $font-size-base * 0.8125 ;
$h6-font-size: $font-size-base * 0.625 ;
$headings-margin-bottom: calc($spacer / 2);
$headings-font-family: inherit ;
$headings-font-weight: $font-weight-bold ;
$headings-line-height: 1.5 ;
$headings-color: $gray-800 ;
$heading-letter-spacing: 0.025em ;
$heading-font-size: 0.95rem ;
$heading-text-transform: uppercase ;
$heading-font-weight: $headings-font-weight ;
$heading-title-letter-spacing: 0.025em ;
$heading-title-font-size: 1.375rem ;
$heading-title-font-weight: $font-weight-bold ;
$heading-title-text-transform: uppercase ;
$heading-section-letter-spacing: 0.025em ;
$heading-section-font-size: 1.375rem ;
$heading-section-font-weight: $font-weight-bold ;
$heading-section-text-transform: uppercase ;
$display1-size: 3.3rem ;
$display2-size: 2.75rem ;
$display3-size: 2.1875rem ;
$display4-size: 1.6275rem ;
$display1-weight: $font-weight-bold ;
$display2-weight: $font-weight-bold ;
$display3-weight: $font-weight-bold ;
$display4-weight: $font-weight-bold ;
$display-line-height: $headings-line-height ;
$paragraph-font-size: 1rem ;
$paragraph-font-weight: 300 ;
$paragraph-line-height: 1.7 ;
$lead-font-size: ($paragraph-font-size * 1.25) ;
$lead-font-weight: 300 ;
$small-font-size: 80% ;
$text-muted: $gray-600 ;
$blockquote-small-color: $gray-600 ;
$blockquote-font-size: ($font-size-base * 1.25) ;
$hr-border-color: rgba($black, 0.1);
$hr-border-width: $border-width ;
$mark-padding: 0.2em ;
$dt-font-weight: $font-weight-bold ;
$list-inline-padding: 0.5rem ;
$mark-bg: #fcf8e3 ;
$hr-margin-y: $spacer * 2 ;
