// Footer

$footer-padding-y: 2.5rem;
$footer-padding-x: 0;
$footer-link-font-size: 0.85rem ;
$footer-bg: $secondary ;
$footer-color: $gray-600 ;
$footer-link-color: $gray-600 ;
$footer-link-hover-color: $gray-700 ;
$footer-heading-color: $gray-600 ;
$footer-heading-font-size: $font-size-sm ;
