// Footer

$footer-padding-y: 2.5rem;
$footer-padding-x: 0;
$footer-link-font-size: 0.85rem !default;
$footer-bg: $secondary !default;
$footer-color: $gray-600 !default;
$footer-link-color: $gray-600 !default;
$footer-link-hover-color: $gray-700 !default;
$footer-heading-color: $gray-600 !default;
$footer-heading-font-size: $font-size-sm !default;
