// Form validation

$form-feedback-valid-bg: color.adjust($success, 15%) !default;
$form-feedback-valid-color: theme-color("success") !default;
$form-feedback-invalid-bg: color.adjust($warning, 15%) !default;
$form-feedback-invalid-color: theme-color("warning") !default;
