// Form validation

$form-feedback-valid-bg:         lighten($success, 15%) !default;
$form-feedback-valid-color:      theme-color("success") !default;
$form-feedback-invalid-bg:       lighten($warning, 15%) !default;
$form-feedback-invalid-color:    theme-color("warning") !default;
