// Input groups

$input-group-addon-color: $input-placeholder-color ;
$input-group-addon-bg: $input-bg ;
$input-group-addon-border-color: $input-border-color ;
$input-group-addon-focus-color: $input-focus-color ;
$input-group-addon-focus-bg: $input-focus-bg ;
$input-group-addon-focus-border-color: $input-focus-border-color ;
