// List group

$list-group-bg: $white ;
$list-group-border-color: $border-color ; // rgba($black, .125);
$list-group-border-width: $border-width ;
$list-group-border-radius: $border-radius ;
$list-group-item-padding-y: 1rem ;
$list-group-item-padding-x: 1rem ;
$list-group-hover-bg: $gray-100 ;
$list-group-active-color: $component-active-color ;
$list-group-active-bg: $component-active-bg ;
$list-group-active-border-color: $list-group-active-bg ;
$list-group-disabled-color: $gray-600 ;
$list-group-disabled-bg: $list-group-bg ;
$list-group-action-color: $gray-700 ;
$list-group-action-hover-color: $list-group-action-color ;
$list-group-action-active-color: $list-group-action-color ;
$list-group-action-active-bg: $gray-200 ;
