// Modals

$modal-inner-padding: 1.5rem ;
$modal-lg: 800px ;
$modal-md: 500px ;
$modal-sm: 380px ;
$modal-title-line-height: 1.1;
$modal-content-bg: $white ;
$modal-content-border-color: rgba($black, 0.2) ;
$modal-content-border-width: 0 ;
$modal-content-border-radius: $border-radius-lg ;
$modal-content-box-shadow-xs: 0 15px 35px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
$modal-content-box-shadow-sm-up: 0 15px 35px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
$modal-backdrop-bg: $black ;
$modal-backdrop-opacity: 0.16 ;
$modal-header-border-color: $gray-200 ;
$modal-footer-border-color: $modal-header-border-color ;
$modal-header-border-width: $modal-content-border-width ;
$modal-footer-border-width: $modal-header-border-width ;
$modal-header-padding: 1.25rem ;
