// No UI Slider

$noui-target-bg: #eceeef ;
$noui-target-thickness: 5px ;
$noui-target-border-radius: 5px ;
$noui-target-border-color: 0 ;
$noui-target-box-shadow: inset 0 1px 2px rgb(90 97 105 / 10%) ;
$noui-slider-connect-bg: $primary ;
$noui-slider-connect-disabled-bg: #b2b2b2 ;
$noui-handle-width: 15px ;
$noui-handle-bg: $primary ;
$noui-handle-border: 0 ;
$noui-handle-border-radius: 100% ;
$noui-origin-border-radius: 2px ;
