// Spacing
@use "sass:map";

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map.merge(
  (
    -9: - ($spacer * 10),
    -8: - ($spacer * 8),
    -7: - ($spacer * 6),
    -6: - ($spacer * 4.5),
    -5: - ($spacer * 3),
    -4: - ($spacer * 1.5),
    -3: - $spacer,
    -2: - ($spacer * 0.5),
    -1: - ($spacer * 0.25),
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4.5),
    7: ($spacer * 6),
    8: ($spacer * 8),
    9: ($spacer * 10)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.

$sizes: () !default;
$sizes: map.merge(
  (
    10: 10%,
    15: 15%,
    25: 25%,
    50: 50%,
    60: 60%,
    75: 75%,
    100: 100%
  ),
  $sizes
);
