// Tables
@use "sass:color";

$table-cell-padding: 1rem !default;
$table-cell-padding-sm: 0.5rem !default;
$table-bg: transparent !default;
$table-accent-bg: rgba($black, 0.05) !default;
$table-hover-bg: $gray-100 !default;
$table-active-bg: $table-hover-bg !default;
$table-border-width: $border-width !default;
$table-border-color: $gray-200 !default;
$table-head-bg: $gray-100 !default;
$table-head-color: $gray-600 !default;
$table-head-spacer-y: 0.75rem !default;
$table-head-font-size: 0.65rem !default;
$table-head-font-weight: $font-weight-bold !default;
$table-head-text-transform: uppercase !default;
$table-head-letter-spacing: 1px !default;
$table-body-font-size: 0.8125rem !default;
$table-dark-bg: $default !default;
$table-dark-accent-bg: rgba($white, 0.05) !default;
$table-dark-hover-bg: rgba($white, 0.075) !default;
$table-dark-border-color: color.adjust($default, $lightness: 7%) !default;
$table-dark-color: $body-bg !default;
$table-dark-head-bg: color.adjust($default, $lightness: 4%) !default;
$table-dark-head-color: color.adjust($default, $lightness: 35%) !default;
