// Vertical navbar

$navbar-vertical-box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%) !important;
$navbar-vertical-width: 250px ;
$navbar-vertical-padding-x: 1.5rem ;
$navbar-vertical-nav-link-padding-x: 1.5rem ;
$navbar-vertical-nav-link-padding-y: 0.65rem ;
$navbar-icon-min-width: 2.25rem ;
$navbar-breadcrumb-padding-y: $nav-link-padding-y ;
$navbar-breadcrumb-padding-x: 0 ;
$navbar-light-bg: $white ;
$navbar-light-border-color: $border-color ;
