extend ../layout.pug

block content
  .wrapper.wf-section
    .w-container(class="wrapper_head")
      h1.headline.h1= t('emails.contributionConfirmed.title')
      .text-block
        include ../includes/salutation.pug
        p= t('emails.contributionConfirmed.commonGoodContributionConfirmed', { senderFirstName, senderLastName })
    .content.w-container
      h2.heading= t('emails.general.contributionDetails')
      div(class="p_content")
        = t('emails.general.amountGDD')
        br
        = t('emails.general.contribution')
      a.button-3.w-button(href="https://gdd.gradido.net/community/contributions") #{t('emails.general.toAccount')}

      include ../includes/doNotReply.pug