//- 
h2.heading= t('emails.general.contributionDetails')
div(class="p_content")= t('emails.contribution.toSeeContributionsAndMessages')
a.button-3.w-button(href="https://gdd.gradido.net/community/contributions") #{t('emails.general.toAccount')}
div(class="p_content")= t('emails.general.orCopyLink')
a(href="https://gdd.gradido.net/community/contributions") https://gdd.gradido.net/community/contributions