header
  .head.wf-section(class="header")
    img.head-logo(
      alt="Gradido Logo"
      loading="lazy"
      src="https://user-images.githubusercontent.com/1311557/238066077-7c9534f7-f75c-4aa9-9bae-6d115ee7f8a8.jpg"
      )
      //- src="https://gdd.gradido.net/img/gradido-email-header.jpg"

    //- img.head-image(
    //-   alt=""
    //-   loading="lazy"
    //-   src="https://gdd.gradido.net/img/template/Blaetter.png"
    //- )
