//- 
requestNewLink
  h2.heading-2 Neuen gültigen Link anfordern

  if timeDurationObject.minutes == 0
    div(class="p_content")= t('emails.general.linkValidity', { hours: timeDurationObject.hours })
  else
    div(class="p_content")= t('emails.general.linkValidityWithMinutes', { hours: timeDurationObject.hours, minutes: timeDurationObject.minutes })

  a.button-4.w-button(href=resendLink) #{t('emails.general.newLink')}