body{
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
  text-align: center;
  text-align: -webkit-center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

h2 {
  margin-top: 15px;
  color: #383838;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  display: block;
}

.head-logo {
  width: 100%;
  height: auto;
}

.text-block {
  margin-top: 20px;
  color: #9ca0a8;
}

.content {
  display: block;
  width: 78%;
  margin: 40px 1% 40px 1%;
  padding: 20px 10% 40px 10%;
  border-radius: 24px;
  background-image: linear-gradient(180deg, #f5f5f5, #f5f5f5);
}

.p_content{
  margin: 15px 0 15px 0;
  line-height: 26px;
  color: #696c72;
}

.clink {
  line-break: anywhere;
  margin-bottom: 40px;
}

.button-3,
.button-4,
.button-5 {
  display: inline-block;
  padding: 9px 15px;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  background-image: radial-gradient(circle farthest-corner at 0% 0%, #f9cd69, #c58d38);
  box-shadow: 16px 13px 35px 0 rgba(56, 56, 56, 0.3);
  margin: 25px 0 25px 0;
  width: 50%;
}

.button-4 {
  background-image: radial-gradient(circle farthest-corner at 0% 0%, #616161, #c2c2c2);
}

.button-5 {
  background: linear-gradient(135deg, #53900c, #6e6e6e); 
  font-size: 20px;
  font-weight: 600;
  color: #f5f5f5;
  width: auto;
  box-shadow: 20px 20px 25px; 
  transition: all 0.3s ease;
}

.button-5:hover {
  transform: translateY(-5px);
  box-shadow: 20px 25px 30px rgba(56, 56, 56, 0.4);
}

.chatbox-wrapper {
  margin-right: 8px;
}
.bi-chatbox {
  margin-bottom: -5px;
}

.child-right {
  text-align: right;
}
.child-left {
  text-align: left;
}

.socialmedia {
  display: flex;
  margin-top: 40px;
  max-width: 600px;
  
}
.slink{
  width: 150px;
}

.footer {
  padding-bottom: 20px;
}

.footer_p1 {
  margin-top: 30px;
  color: #9ca0a8;
  margin-bottom: 30px;
}

.footer_p2 {
    color: #383838;
    font-weight: bold;
}


.image {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-block {
  display: table;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.terms_of_use {
  color: #9ca0a8;
}

.text-block-3 {
  color: #9ca0a8;
  margin-bottom: 30px;
}

.line_image,
.line {
  width: 100%;
  height: 13px;
  margin-top: 40px;
}

.line_image {
  background-image: linear-gradient(90deg, #c58d38, #c58d38 0%, #f3cd7c 35%, #dbb056 54%, #eec05f 63%, #cc9d3d);
}

.line {
  background-image: linear-gradient(90deg, #c58d38, #f3cd7c 40%, #dbb056 55%, #eec05f 71%, #cc9d3d);
}
