{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "10"
            }
          }
        ]
      ]
    }
  }
}