[submodule "gn"]
	path = gn
	url = https://github.com/gradido/gn.git
	branch = master

[submodule "login_server/dependencies/tinf"]
	path = login_server/dependencies/tinf
	url = https://github.com/jibsen/tinf.git
[submodule "login_server/dependencies/mariadb-connector-c"]
	path = login_server/dependencies/mariadb-connector-c
	url = https://github.com/MariaDB/mariadb-connector-c.git
[submodule "login_server/src/proto"]
	path = login_server/src/proto
	url = https://github.com/gradido/gradido_protocol.git
[submodule "login_server/dependencies/spirit-po"]
	path = login_server/dependencies/spirit-po
	url = https://github.com/cbeck88/spirit-po.git
[submodule "login_server/dependencies/poco"]
	path = login_server/dependencies/poco
	url = https://github.com/pocoproject/poco.git
[submodule "login_server/dependencies/cmake-modules"]
	path = login_server/dependencies/cmake-modules
	url = https://github.com/viaduck/cmake-modules.git

[submodule "community_server/src/protobuf"]
	path = community_server/src/protobuf
	url =  https://github.com/gradido/gradido_protocol.git
[submodule "login_server/dependencies/libsodium"]
	path = login_server/dependencies/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "login_server/src/proto"]
        path = login_server/src/proto
        url =  https://github.com/gradido/gradido_protocol.git
[submodule "login_server/dependencies/protobuf"]
	path = login_server/dependencies/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
