.dbeaver
.project
*.log
*.bak
.turbo
vite.config.mjs.timestamp-*
log4js-config*.json
/node_modules/*
node_modules
build
messages.pot
nbproject
.metadata
/out/*
.env
package-lock.json
/deployment/bare_metal/nginx/sites-available/gradido.conf
/deployment/bare_metal/nginx/sites-available/update-page.conf
/deployment/bare_metal/nginx/update-page/updating.html
/deployment/bare_metal/log
/deployment/bare_metal/backup

# Apple macOS folder attribute file
.DS_Store
