.dbeaver
.project
*.log
*.bak
/node_modules/*
messages.pot
nbproject
.metadata
/.env
package-lock.json
/deployment/bare_metal/.env
/deployment/bare_metal/nginx/sites-available/gradido.conf
/deployment/bare_metal/nginx/sites-available/update-page.conf
/deployment/bare_metal/nginx/update-page/updating.html
/deployment/bare_metal/log
/deployment/bare_metal/backup

# Node Version Manager configuration file
.nvmrc

# Apple macOS folder attribute file
.DS_Store
/node_modules/
