[submodule "gn"]
	path = gn
	url = https://github.com/gradido/gn.git
	branch = master

[submodule "community_server/src/protobuf"]
	path = community_server/src/protobuf
	url =  https://github.com/gradido/gradido_protocol.git
