version: "3.4"

services:
  ########################################################
  # FRONTEND #############################################
  ########################################################
  frontend:
    image: gradido/frontend:development
    build:
      target: development
    environment:
      - NODE_ENV="development"
      # - DEBUG=true
      - NUXT_BUILD=/tmp/nuxt # avoid file permission issues when `rm -rf .nuxt/`
    volumes:
      # This makes sure the docker container has its own node modules.
      # Therefore it is possible to have a different node version on the host machine
      - frontend_node_modules:/app/node_modules
      # bind the local folder to the docker to allow live reload
      - ./frontend:/app

  #########################################################
  ## LOGIN SERVER #########################################
  #########################################################
  login-server:
    build:
      target: login_server_debug
      dockerfile: Dockerfile.debug
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./logs:/var/log/grd_login 
      - ./login_server/src:/code/src
      - ./configs/login_server:/etc/grd_login
      - login_build_conan:/code/build_vol


  #########################################################
  ## COMMUNITY SERVER (cakephp with php-fpm) ##############
  #########################################################
  community-server:
    build: 
      context: .
      dockerfile: ./community_server/Dockerfile
    environment:
      - DB_PASSWORD=''
      - DB_USER='root'
      - DB_DATABASE='gradido_community'
    depends_on: 
      - mariadb
    networks: 
      - internal-net
    volumes:
      - ./community_server/config/php-fpm/php-ini-overrides.ini:/etc/php/7.4/fpm/conf.d/99-overrides.ini
      - ./community_server/src:/var/www/cakephp/src

      
  #########################################################
  ## NGINX ################################################
  #########################################################
  nginx:
    depends_on:
      - frontend 
      - community-server
      - login-server
    volumes: 
      - ./logs/nginx:/var/log/nginx 
  
  #########################################################
  ## PHPMYADMIN ###########################################
  #########################################################
  phpmyadmin:
    image: phpmyadmin
    environment:
     - PMA_ARBITRARY=1
    #restart: always
    ports:
     - 8074:80
    networks: 
     - internal-net
     - external-net
    volumes:
     - /sessions
     
  #########################################################
  ## skeema for updating dbs if changes happend ###########
  #########################################################
  skeema: 
    build:
      context: .
      dockerfile: ./skeema/Dockerfile
      target: skeema_run
    depends_on:
      - mariadb
    networks: 
      - internal-net
   
volumes:
  frontend_node_modules:
  login_build_conan:

