# This file defines the production settings. It is overwritten by docker-compose.override.yml,
# which defines the development settings. The override.yml is loaded by default. Therefore it
# is required to explicitly define if you want an production build:
# > docker-compose -f docker-compose.yml up 

services:



  ########################################################
  # DATABASE #############################################
  ########################################################
  database:
    # name the image so that it cannot be found in a DockerHub repository, otherwise it will not be built locally from the 'dockerfile' but pulled from there
    image: gradido/database:local-reset
    build:
      context: .
      dockerfile: ./database/Dockerfile
      target: reset
    depends_on:
      - mariadb
    networks:
      - internal-net
      - external-net # this is required to fetch the packages
    environment:
      # Envs used in Dockerfile
      # - DOCKER_WORKDIR="/app"
      - BUILD_DATE
      - BUILD_VERSION
      - BUILD_COMMIT
      - NODE_ENV="production"
      - DB_HOST=mariadb
      # Application only envs
    #env_file:
    #  - ./frontend/.env
  
networks:
  external-net:
  internal-net:
    internal: true

volumes:
  db_vol: 
  
