version: "3.4"

services:

  ########################################################
  # BACKEND ##############################################
  ########################################################
  backend:
    # name the image so that it cannot be found in a DockerHub repository, otherwise it will not be built locally from the 'dockerfile' but pulled from there
    image: gradido/backend:test
    build:
      target: test
    networks:
      - external-net
      - internal-net
    environment:
      - NODE_ENV="test"
      - DB_HOST=mariadb

  ########################################################
  # DATABASE #############################################
  ########################################################
  database:
    build:
      context: ./database
      target: test_up
  #  restart: always # this is very dangerous, but worth a test for the delayed mariadb startup at first run

  #########################################################
  ## MARIADB ##############################################
  #########################################################
  mariadb:
    networks: 
      - internal-net
      - external-net
    volumes: 
      - db_test_vol:/var/lib/mysql

  #########################################################
  ## PHPMYADMIN ###########################################
  #########################################################
  phpmyadmin:
    image: phpmyadmin
    environment:
     - PMA_ARBITRARY=1
    #restart: always
    ports:
     - 8074:80
    networks: 
     - internal-net
     - external-net
    volumes:
     - /sessions

networks:
  external-net:
  internal-net:
    internal: true

volumes:
  db_test_vol: 
