/* ============================================================

  Screen styles for center part.

  Datei     :   center.css
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
@media screen {
    .content {
        display: flex;
        justify-content: center;
        overflow: auto;
        line-height: 1.5em;
        padding: 1.5em;
        background-color: #f9fafb;
    }

    @media (max-width:619px) {
        .content {
            flex-direction: column;
        }

    }

}

/* Ende @media screen */
