/* ============================================================

  Screen styles.

  Datei     :   gradido.css
  Datum     :   2020-05-20
  Autor     :   einhornimmond / Christine Slotty
  Copyright :   Gradio

   ============================================================*/
@media screen {
    .gdt-text-color {
        color: #a27824;
    }

}

/* Ende @media screen */
