
/* ============================================================

  Navigation styles.

  Datei     :   nav.css
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/

@media screen {
  .tablinks.active {
    background-color: inherit;
  }
}
