# Need to adjust!
# Will be seen on login and from other communities if dht and federation modules are active
COMMUNITY_NAME="Your community name"
# Description should have at least 10 characters
COMMUNITY_DESCRIPTION="Short Description from your Community."
# your domain name, without protocol (without https:// or http:// )
# domain name should be configured in your dns records to point to this server
# hetzner_cloud/install.sh will be acquire a SSL-certificate via letsencrypt for this domain
COMMUNITY_HOST=gddhost.tld
# used in E-Mails and some error message, should be the email address of your own support (team)
COMMUNITY_SUPPORT_MAIL=support@supportmail.com

# setup email account for sending gradido system messages to users
EMAIL=true
EMAIL_USERNAME=peter@lustig.de
EMAIL_SENDER=peter@lustig.de
EMAIL_PASSWORD=1234
EMAIL_SMTP_HOST=smtp.lustig.de
EMAIL_SMTP_PORT=587

# Federation, Settings for transactions with other communities
# if set to true allow sending gradidos to another communities
FEDERATION_XCOM_SENDCOINS_ENABLED=false
# if set to true, allow redeeming gradido link from another community
CROSS_TX_REDEEM_LINK_ACTIVE=false

# if you set the value of FEDERATION_DHT_TOPIC, the DHT hyperswarm will start to announce and listen 
# on an hash created from this topic
# need for discover other communities
# get the correct topic from Gradido Academy, GRADIDO_HUB is our test topic
FEDERATION_DHT_TOPIC=GRADIDO_HUB

# Advanced Server Setup

# SCSS Parsing 
# grass speed up frontend building, but needs some time for the first setup because it is a rust program which need to be compiled
USE_GRASS=false

# Logging
LOG_LEVEL=info
GRADIDO_LOG_PATH=/home/gradido/gradido/deployment/bare_metal/log
TYPEORM_LOGGING_RELATIVE_PATH=../deployment/bare_metal/log/typeorm.backend.log

# Need adjustments for test system
# protocol for community host, on production usually https, on local dev usually http
URL_PROTOCOL=https

# only for test server
DEPLOY_SEED_DATA=false
# test email
# if true all email will be send to EMAIL_TEST_RECEIVER instead of email address of user
EMAIL_TEST_MODUS=false
EMAIL_TEST_RECEIVER=test_team@gddhost.tld

# webhook for auto update on github repository changes
WEBHOOK_GITHUB_BRANCH=master

# Business Logic

# how many minutes email verification code is valid
# also used for password reset code
EMAIL_CODE_VALID_TIME=1440
# how many minutes user must wait before he can request the email verification code again
# also used for password reset code
EMAIL_CODE_REQUEST_TIME=10
# login expire time
JWT_EXPIRES_IN=10m

# frontend and admin paths, usually don't need changes
# used in nginx config and for links in emails
COMMUNITY_REGISTER_PATH=/register
COMMUNITY_REDEEM_PATH=/redeem/
COMMUNITY_REDEEM_CONTRIBUTION_PATH=/redeem/CL-
WALLET_LOGIN_PATH=/login
WALLET_AUTH_PATH=/authenticate?token=
EMAIL_LINK_VERIFICATION_PATH=/checkEmail/
EMAIL_LINK_SETPASSWORD_PATH=/reset-password/
EMAIL_LINK_FORGOTPASSWORD_PATH=/forgot-password
EMAIL_LINK_OVERVIEW_PATH=/overview
ADMIN_AUTH_PATH=/admin/authenticate?token=
# need to change when frontend is hosted on a different domain as the backend
WALLET_URL=$URL_PROTOCOL://$COMMUNITY_HOST
GRAPHQL_PATH=/graphql

# Federation
# FEDERATION_DHT_TOPIC=GRADIDO_HUB
# 
# the api port is the baseport, which will be added with the api-version, e.g. 1_0 = 5010
FEDERATION_COMMUNITY_API_PORT=5000

# comma separated list of api-versions, which cause starting several federation modules
FEDERATION_COMMUNITY_APIS=1_0

# Meta data in frontend pages, important when shared via facebook or twitter or for search engines
META_TITLE_DE="Gradido – Dein Dankbarkeitskonto"
META_TITLE_EN="Gradido - Your gratitude account"
META_DESCRIPTION_DE="Dankbarkeit ist die Währung der neuen Zeit. Immer mehr Menschen entfalten ihr Potenzial und gestalten eine gute Zukunft für alle."
META_DESCRIPTION_EN="Gratitude is the currency of the new age. More and more people are unleashing their potential and shaping a good future for all."
META_KEYWORDS_DE="Grundeinkommen, Währung, Dankbarkeit, Schenk-Ökonomie, Natürliche Ökonomie des Lebens, Ökonomie, Ökologie, Potenzialentfaltung, Schenken und Danken, Kreislauf des Lebens, Geldsystem"
META_KEYWORDS_EN="Basic Income, Currency, Gratitude, Gift Economy, Natural Economy of Life, Economy, Ecology, Potential Development, Giving and Thanking, Cycle of Life, Monetary System"
META_AUTHOR="Bernd Hückstädt - Gradido-Akademie"

# externe gradido services 

GDT_ACTIVE=false

# DLT-Connector (still in develop)
# verify transaction additional via gradido blockchain
DLT_ACTIVE=false
DLT_CONNECTOR_PORT=6010
DLT_NODE_SERVER_PORT=8340
DLT_GRADIDO_NODE_SERVER_HOME_FOLDER=/home/gradido/.gradido

# HIERO used from dlt-connector
HIERO_HEDERA_NETWORK=testnet
# https://docs.hedera.com/hedera/networks/testnet/testnet-access
HIERO_OPERATOR_ID=
HIERO_OPERATOR_KEY=

# for inspector from outside of server
DLT_NODE_SERVER_URL=$URL_PROTOCOL://$COMMUNITY_HOST/dlt

# used for combining a newsletter on klicktipp with this gradido community
# if used, user will be subscribed on register and can unsubscribe in his account
KLICKTIPP=false
KLICKTIPP_USER=gradido_test
KLICKTIPP_PASSWORD=secret321
KLICKTIPP_APIKEY_DE=SomeFakeKeyDE
KLICKTIPP_APIKEY_EN=SomeFakeKeyEN

# update page shown while updating gradido
# page will be fed with status changes
NGINX_UPDATE_PAGE_ROOT=/home/gradido/gradido/deployment/bare_metal/nginx/update-page
# NGINX SSL Setup with certbot
# will be generated by start.sh with $COMMUNITY_HOST, only need to setup manual if setup differ from default 
#NGINX_SSL_CERTIFICATE=/etc/letsencrypt/live/gddhost.tld/fullchain.pem
#NGINX_SSL_CERTIFICATE_KEY=/etc/letsencrypt/live/gddhost.tld/privkey.pem
NGINX_SSL_DHPARAM=/etc/letsencrypt/ssl-dhparams.pem
NGINX_SSL_INCLUDE=/etc/letsencrypt/options-ssl-nginx.conf
NGINX_REWRITE_LEGACY_URLS=false

# Services
BACKEND_PORT=4000

# GMS
# Speak with Gradido Academy to get access to GMS
GMS_ACTIVE=false
GMS_API_URL=https://gms-stage.gradido.net/gms
GMS_DASHBOARD_URL=https://gms-stage.gradido.net/
GMS_USER_SEARCH_FRONTEND_ROUTE=user-search
# set your own or placeholder webhook_secret will be replaced by start.sh
GMS_WEBHOOK_SECRET=webhook_secret
GMS_CREATE_USER_THROW_ERRORS=false

# HUMHUB
# Host your own humhub Server
HUMHUB_ACTIVE=false
HUMHUB_API_URL=https://your-humhub-domain.tld
# Humhub jwt key, setup together with humhub
# set your own or placeholder jwt_secret will be replaced by start.sh
HUMHUB_JWT_KEY=jwt_secret

# OPENAI
# you need a paid openai account to use this feature
OPENAI_ACTIVE=false
# assistant id for your openai assistant
OPENAI_ASSISTANT_ID=
# your api key form openai
OPENAI_API_KEY=

# Performance Settings

# in milliseconds, how often inspector and frontend ask on some views for new data
AUTO_POLL_INTERVAL=60000
# set to true if password encryption should take place in another thread, which don't block the main loop, true is recommended
USE_CRYPTO_WORKER=true
# in milliseconds, how often the other communities should be checked if still online and reachable
FEDERATION_VALIDATE_COMMUNITY_TIMER=60000

# Security Settings, placeholder (jwt_secret, webhook_secret, binary8_secret, binary16_secret, binary32_secret) 
# will be replaced by start.sh

JWT_SECRET=jwt_secret
# secret for webhook, must be set here and in github.com webhook
WEBHOOK_GITHUB_SECRET=webhook_secret
# basic for key pair generation for federation, maximal 64 characters 
FEDERATION_DHT_SEED=binary32_secret
WEBHOOK_ELOPAGE_SECRET=webhook_secret
# keys for dlt
GRADIDO_BLOCKCHAIN_CRYPTO_APP_SECRET=binary8_secret
GRADIDO_BLOCKCHAIN_SERVER_CRYPTO_KEY=binary16_secret
HOME_COMMUNITY_SEED=binary32_secret

# Server Settings needed if modules are hosted on different servers (non-default setup)

# GUI-Module Configs (with nginx-routing always running on COMMUNITY_HOST)
ADMIN_MODULE_PROTOCOL=$URL_PROTOCOL
ADMIN_MODULE_HOST=$COMMUNITY_HOST
ADMIN_MODULE_PORT=8080

FRONTEND_MODULE_PROTOCOL=$URL_PROTOCOL
FRONTEND_MODULE_HOST=$COMMUNITY_HOST
FRONTEND_MODULE_PORT=3000

# Non-GUI-Module Configs (with nginx-routing always running on localhost in case of on bare metal)
BACKEND_MODULE_PROTOCOL=http
BACKEND_MODULE_HOST=localhost
BACKEND_PORT=4000

DHT_MODULE_PROTOCOL=http
DHT_MODULE_HOST=localhost
DHT_MODULE_PORT=5000

DLT_MODULE_PROTOCOL=http
DLT_MODULE_HOST=localhost
DLT_MODULE_PORT=6010

FEDERATION_MODULE_PROTOCOL=http
FEDERATION_MODULE_HOST=localhost
FEDERATION_MODULE_PORT=5010