p(style='margin-top: 24px;')
  = t('emails.general.sincerelyYours')
  br
  = t('emails.general.yourGradidoTeam')
p(style='margin-top: 24px;')= '—————'
p(style='margin-top: 24px;')
  each line in t('general.imprint').split(/\n/)
    = line
    br
  a(href='mailto:' + supportEmail)= supportEmail
  br
  a(href=communityURL)= communityURL
