LOG_LEVEL=debug
PORT=4000
GRAPHIQL=true
// LOGIN_API_URL=http://login-server:1201/
// COMMUNITY_API_URL=http://nginx/api/
// GDT_API_URL=https://gdt.gradido.net/

# Database
# Database
DB_PORT=3306
DB_DATABASE=gradido_community


COMMUNITY_NAME=Gradido Entwicklung
COMMUNITY_URL=http://localhost:4000/
COMMUNITY_DESCRIPTION=lokale Entwicklungsumgebung

# Federation
FEDERATION_API=1_0
FEDERATION_PORT=5010
FEDERATION_COMMUNITY_URL=http://localhost
