CONFIG_VERSION=$FEDERATION_CONFIG_VERSION

LOG_LEVEL=$LOG_LEVEL
# this is set fix to false, because it is important for 'production' environments. only set to true if a graphql-playground should be in use
GRAPHIQL=false

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=$DB_USER
DB_PASSWORD=$DB_PASSWORD
DB_DATABASE=gradido_community

# Federation
FEDERATION_COMMUNITY_URL=$FEDERATION_COMMUNITY_URL
