/* ============================================================

  Grid Layout Page

  Datei     :   layout.less
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/

/* BREAKPOINTS */
@maxMobile: ~"(max-width:639px)";
@minDesktop: ~"(min-width:640px)";

/* GRID */
.layout {
  display: grid;
  grid-template-rows: [top] 8vh [line2] 80vh [footer1] 7vh [footer2] 5vh [end];
  grid-template-columns: [left1] 1fr [left2] 1fr [left3] 6fr [right3] 1fr [right2] 1fr [right1];
  grid-template-areas: "header header header header header"
  "left . center . ."
  "footer footer footer footer footer"
  "bottom bottom bottom bottom bottom";
  margin: 0;
  padding: 0;
}

/*.header {
  grid-area: header;
}*/

.sidebar1 {
  grid-area: left;
  grid-row-start: top;
  grid-row-end: end;
}

.content {
  grid-area: center;
}

.footer {
  grid-area: footer;
}

.nav-bottom {
  grid-area: bottom;
}
