/* ============================================================

  Color Definitions

  Datei     :   colors.less
  Datum     :   2020-05-26
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/

@main-background: #f9fafb;
@main-text: #212529;
@main-link-text: #000;

@menu-background: #fff;
@menu-link-text: #4F4F4F;
@menu-link-selected: #047006;
@menu-border-color: #f2f4f5;

@dialog-background: #fff;
/*rgba(0, 0, 0, 0.5) ??? */
@dialog-text: #000;
@dialog-background-extra: rgba(0, 0, 0, 0.1);
@dialog-border: grey;

@form-text-background: rgba(0,0,0,0.05);
@form-button-border: grey;
@form-button-text: #444;

@button-text: #000;
@button-border-color: #000;
@button-background-active: lightgray;

@print-background: #111;
@print-text: #000;
@print-link-text: #06c;

@gdt-text: #a27824;

@info-border: gray;
@success: green;
@success-background: lightcyan;
@success-background-hover: lightgreen;
@error: red;
@error-border: rgba(255, 0, 0, 0.5);
@unobtrusive: grey;
