/* ============================================================

  User Menu

  Datei     :   user.less
  Datum     :   2020-07-03
  Autor     :   Christine Slotty
  Copyright :   Gradido

   ============================================================*/
@media screen {
  .header-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    background-color: @container-background;
    padding: .75em;
    border-radius: 0 0 0 18px;
    z-index: 2;
  }

  .user-name {
    display: block;
    font-size: .8em;
    font-weight: 300;
    line-height: 1em;
    text-align: right;
    padding-right: .25em;
  }

  .user-icon {
    display: block;
  }

  .nav-vertical.user-menu {
    position: fixed;
    top: 0;
    right: 33px;
    background-color: @container-background;
    margin-top: 1em;
    z-index: -1;
    font-size: .9em;
    border-radius: 0 0 16px 16px;
  }

  .nav-vertical.user-menu > ul {
    padding: 1em 2em;
    margin-block-end: 0;
  }

  .nav-vertical.user-menu li {
    padding: .0125em;
  }

  .nav-top > ul {
    padding: 0;
    padding-right: 2em;
  }

  @media @tablet-down {
    .header-user {
      align-items: flex-start;
      align-content: flex-start;
      background-color: transparent;
      padding: .75em;
      z-index: 15;
    }

    .user-name {
      display: none;
    }

    .nav-vertical {
      margin-top: 55px;
    }

    .nav-vertical.user-menu {
      top: 0;
      right: 3px;
      margin-top: 0;
    }

    .nav-vertical.user-menu > ul {
      padding: 1em 1em;
      padding-top: 2em;
    }

  }

}
