/* ============================================================

  Screen styles for center part.

  Datei     :   center.css
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
@media screen {
  .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    line-height: @content-lh;
    background-color: @main-background;
    width: 100%;
    letter-spacing: .03rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 5em;
  }

  @media @maxMobile {
    .content {
      flex-direction: column;
    }

  }

  /* content container */
  .grd_container {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }

  .grd_container_small {
    max-width: 500px;
    align-self: center;
  }

  .grd_text {
    max-width: 550px;
    margin-bottom: 5px;
  }

  .grd_text-max-width {
    max-width: 550px;
  }

}

/* Ende @media screen */
