/* ============================================================

  Screen styles for center part.

  Datei     :   center.css
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
@media screen {

  /* =========
      CONTENT
     =========*/
  .content-default {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    background-color: @main-background;
    line-height: @content-lh;
    letter-spacing: @content-letter-spacing;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 6em;
    padding-right: 10em;
  }

  @media @phone-down {
    .content {
      flex-direction: column;
    }

  }

  /* Center Navigation Top */
  .nav-content {
    color: @content-nav;
    margin: 0 .25em;
    margin-bottom: 1em;
  }

  .nav-content-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: .25em;
  }

  .nav-content-separator {
    margin: 0 1em;
  }

  /* Center Content Container */
  .content-container {
    background-color: @container-background;
    color: @container-text;
    border-radius: .5em;
    box-shadow: 0 0 10px 0 @container-shadow;
    border: 1px solid @container-border;
    margin: 1em .25em;
  }

  .content-default .content-container {
    min-width: 800px;
  }

  /* Top Info Above Main */
  .info-container {
    max-width: 70%;
    padding: .5em 25px;
  }

  /* Main Container */
  .main-container {
    width: 100%;
  }

  /* Generic Content */
  .content-region {
    border-bottom: 1px dashed @light;
    padding: 0 25px;
    padding-bottom: 2em;
    margin: 1em .25em;
  }

  .content-collection {
    display: flex;
  }

  .content-item {
    margin: .5em 0;
    margin-right: 5em;
    width: 160px;
    padding: 1em 2em;
  }

  .action-button {
    background: @action-button-background;
    border-left: 3px solid @action-button-border;
  }

  .info-item {
    border-left: 2px solid @info-item-border;
  }

  /* List Content */
  .content-list {
    width: 100%;
  }

  .content-list-title {
    font-size: 1rem;
    margin: 0;
    padding: 20px 25px;
    color: @content-table-title;
  }

  .content-list-table {
    display: grid;
    width: 100%;
    overflow: auto;
    font-size: 16px;
    color: #212529;
  }

  .cell {
    padding: 1em 1.5em;
  }

  .header-cell {
    border-top: 1px solid @content-table-header-border;
    background-color: @content-table-header-bg;
    color: @content-table-header;
  }

  .content-list-table img,
  .content-list-table i {
    vertical-align: middle;
  }

  .content-list-table > span {
    font-size: .8em;
    padding: .5em 2em;
    vertical-align: middle;
  }

  /* Individual Tables */
  .wiretransfer {
    grid-template-columns: 5fr 4fr 3fr 2fr 1fr;
  }

  .error-list {
    grid-template-columns: 2fr 2fr 5fr 1fr;
  }

  .profile-img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
  }

  .tx-email {
    cursor: pointer;
    display: block;
    color: @content-table-header;
  }

  .small {
    font-size: 80%;
    font-weight: 400;
  }

  /* OTHER */
  .info-item i,
  .info-item-link,
  .action-button i,
  .action-button-link {
    vertical-align: middle;
  }

}

/* Ende @media screen */
