/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* ============================================================

  Screen styles for forms.

  Datei     :   form.css
  Datum     :   2020-06-07
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
@media screen {

  /* =========
      FORMS
     =========*/

  /* Form Content */
  .action-form {
    width: 100%;
  }

  .form-header {
    border-left: 3px solid @form-header-border;
    background: @form-header-background;
    padding: 15px 20px;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 0 6px 0 0;
  }

  .form-label {
    grid-column: 1 / 2;
    font-weight: 400;
    text-align: right;
  }

  .form-control {
    grid-column: 2 / 3;
    display: block;
    padding: .4em .75em;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    color: rgba(16, 16, 16, .8);
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #f6f7f9;
    background-clip: padding-box;
    border: 1px solid #f0f2f5;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .form-control:focus {
    color: #495057;
    background-color: #f6f7f9;
    border-color: #d7dee5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
  }

  textarea {
    resize: vertical;
  }

  .badge {
    display: inline-block;
    padding: .45rem 1rem;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  }

  .badge-warning {
    color: @badge-color-warning;
    background-color: @badge-background-warning;
  }

  .badge-error {
    color: @badge-color-error;
    background-color: @badge-background-error;
  }

  .form-button {
    cursor: pointer;
    font: 600 13.3333px Arial;
    font-size: .875rem;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #047006;
    border-color: #047006;
    border: 1px solid transparent;
    border-radius: .2rem;
    height: 35px;
    max-height: 35px;
    padding: 4px 15px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
  }

  .form-button:hover {
    background-color: #034b04;
    border-color: #023f03;
  }

  .button-cancel {
    color: #fff !important;
    background-color: #f0825f;
    border-color: #f0825f;
  }

  .button-cancel:hover {
    background-color: #ec5e30;
    border-color: #eb5425;
  }

  /* CENTER FORM SPECIFICS */
  .form-body form {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 36px 75px;
    grid-gap: 1em;
  }

  .center-form {
    width: 450px;
  }

  .center-form .form-control {
    width: 90%;
  }

  .center-form fieldset {
    margin-bottom: 1em;
  }

  @media @tablet-down {
    .form-body form {
      grid-template-columns: 1fr;
      margin: 20px;
      grid-gap: .25em;
    }

    .form-label {
      text-align: left;
    }

  }

}

/*
 Button
.grd-form-bn:hover,
.grd-active {
background-color: @button-background-active;
border-color: @button-border-color;
}

.grd-form-bn {
padding: 5px;
border: 1px solid @form-button-border;
display: table-cell;
text-align: center;
vertical-align: middle;
color: @form-button-text;
}

.grd-form-bn-small {
}

a.grd-form-bn,
a.grd-form-bn:visited {
color: @button-text;
text-decoration: none;
}

.grd-form-bn-succeed {
background-color: @success-background;
color: @success;
margin-top: 3px;
margin-bottom: 3px;
}

.grd-form-bn-succeed:not([disabled]):hover {
background-color: @success-background-hover;
}

.grd-form-bn-discard {
margin-left: 5px;
border: 1px solid @error;
color: @error;
cursor: pointer;
}

 form elements
.grd_textarea {
border: 1px solid grey;
background-color: @form-text-background;
padding: 5px;
font-style: italic;
}

.grd-input label {
display: block;
}

input.grd-privkey {
width: 465px;
}

input.grd-pubkey {
width: 465px;
}

input.grd-non-der-keys {
width: 900px;
}

input:not([type='radio']) {
width: 200px;
}

label:not(.grd_radio_label) {
width: 80px;
display: inline-block;
}
*/
