extend ../layout.pug

block content  
  .text-block
    include ../includes/salutation.pug
  .content
    div
      = t('emails.customEmail.betreff', { subject })
    .child-left
      div(class="p_content")= memo
    
  a.button-3(href=`${communityURL}/send`) #{t('emails.general.toAccount')}

  

