header
  .head
    //- TODO
    //- when https://gdd.gradido.net/img/gradido-email-header.jpg is on production,
    //- replace this URL by https://gdd.gradido.net/img/brand/gradido-email-header.png
    img.head-logo(
      alt="Gradido Logo"
      loading="lazy"
      src="cid:gradidoheader"
      )

      
 
