
server {
    server_name $COMMUNITY_HOST;
    listen 80;
    listen [::]:80;

    include /etc/nginx/common/protect.conf;
    include /etc/nginx/common/protect_add_header.conf;

    gzip on;

    root $NGINX_UPDATE_PAGE_ROOT;
    index updating.html;

    location / {
      try_files /updating.html =404;
    }

    access_log $GRADIDO_LOG_PATH/nginx-access.update-page.log gradido_log;
    error_log $GRADIDO_LOG_PATH/nginx-error.update-page.log warn;
}

