/* ============================================================

  Grid Layout Page

  Datei     :   layout.less
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
/* BREAKPOINTS */
/* GRID */
.layout {
  display: grid;
  grid-template-rows: 12vh 70vh 10vh 5vh;
  grid-template-columns: 1fr 6fr 1fr;
  /*grid-gap: .25em;*/
  grid-template-areas: "topleft topcenter topright" "navleft center navright" "bottomleft bottomcenter bottomright";
  margin: 0;
  padding: 0;
}
.header,
.footer {
  grid-column-start: 1;
  grid-column-end: 4;
}
.sidebar1 {
  grid-area: navleft;
}
.content {
  grid-area: center;
}
.sidebar2 {
  grid-area: navright;
}
.bottomleft {
  grid-area: bottomleft;
}
.nav-bottom {
  grid-area: bottomcenter;
}
/* ============================================================

  Color Definitions

  Datei     :   colors.less
  Datum     :   2020-05-26
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
/*rgba(0, 0, 0, 0.5) ??? */
/* ============================================================

  Typography Definitions

  Datei     :   typography.less
  Datum     :   2020-05-26
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
/* macht aus den Standard 16px 14px */
/* ============================================================

  Screen styles.

  Datei     :   screen.less
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
@media screen {
  /* =======================
        Basis
       =======================*/
  html,
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 87.5%;
    line-height: 27px;
    color: #212529;
    background-color: #f9fafb;
    margin: 0;
    overflow: hidden;
  }
  /* =======================
        Kopfbereich
       =======================*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    background-color: #fff;
  }
  .header img {
    vertical-align: middle;
    width: 150px;
  }
  /* =======================
        Fußbereich
       =======================*/
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 70%;
    font-style: italic;
  }
  .bottomleft {
    background-color: #fff;
    vertical-align: bottom;
  }
  /* =======================
        Gradido
       =======================*/
  /* Gradido Transform */
  .gdt-text-color {
    color: #a27824;
  }
  /* =======================
        Sonstige
       =======================*/
  /* Hyperlinks */
  a {
    text-decoration: none;
    color: inherit;
  }
  main a {
    text-decoration: underline;
    font-style: italic;
  }
  a:link,
  a:visited {
    color: inherit;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  a:active {
    background-color: #fff;
    color: #000;
  }
  a:focus,
  a:active {
    outline: none;
  }
  a.grd_invisible_link {
    color: #000;
    text-decoration: none;
  }
  a.grd_invisible_link:hover {
    color: grey;
  }
  /* layout helper */
  .grd_margin_5 {
    margin: 5px;
  }
  .grd-margin-top-10 {
    margin-top: 10px;
  }
  .grd-width-200 {
    width: 200px;
  }
  .grd_margin-bottom {
    margin-bottom: 5px;
  }
  .grd_right {
    float: right;
  }
  .grd_clickable {
    cursor: pointer;
  }
  .grd-no-style {
    list-style: none;
  }
  .grd_small {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
/* Ende @media screen */
/* ============================================================

  Navigation

  Datei     :   navi.less
  Datum     :   2020-04-30
  Autor     :   einhornimmond / Christine Slotty
  Copyright :   Gradio

   ============================================================*/
/* TODO
  dropdown
  subnav
  text-muted
  block-btn (?)
  caret (?)
    -> für Kinder
*/
@media screen {
  /*
    SIDEBARS
  */
  .sidebar1,
  .sidebar2 {
    padding: 1em;
  }
  .sidebar1 {
    color: #4F4F4F;
    background-color: #fff;
    font-weight: 500;
    line-height: 2.5em;
  }
  .sidebar2 {
    background-color: #f9fafb;
  }
  .nav-icon {
    font-size: 1.2em;
    padding-right: 1em;
    color: grey;
  }
  .sidebar1-header {
    font-size: 0.75em;
    font-style: italic;
    color: grey;
  }
  /* navbar */
  .material-icons-outlined {
    font-size: 18px !important;
    vertical-align: middle;
    padding-right: 1em;
  }
  .nav-main-button {
    font-size: 24px !important;
  }
  .selected {
    color: #047006;
  }
  .link-title {
    vertical-align: middle;
    line-height: normal;
    background-color: transparent;
  }
  .nav-horizontal > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    list-style-type: none;
    gap: 5%;
    padding: 1em;
  }
  .nav-horizontal li {
    padding: 0.5em;
  }
  .nav-vertical > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 5%;
    padding: 1em;
  }
  .nav-vertical li {
    padding: 0.5em;
  }
  .nav-top > ul {
    padding: 0;
    padding-right: 2em;
  }
  .nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 5%;
    padding: 1em;
  }
  .nav-bottom p {
    font-size: 0.9em;
    color: grey;
    margin: 0;
  }
  nav.grd-left-bar {
    position: fixed;
    top: 80.5px;
  }
  nav .grd-nav-bn {
    width: 100px;
  }
  nav ul {
    margin-top: 0;
    padding-left: 0;
  }
  /* buttons */
  .grd-nav-bn:hover,
  .grd-active {
    background-color: lightgray;
    border-color: #000;
  }
  .grd-nav-bn {
    padding: 10px;
    border: 1px solid grey;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: grey;
  }
  .grd-nav-bn-large {
    width: 40vw;
    height: 18vh;
    font-size: 35px;
  }
  a.grd-nav-bn,
  a.grd-nav-bn:visited {
    color: #000;
    text-decoration: none;
  }
}
/* ============================================================

  Screen styles for center part.

  Datei     :   center.css
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
@media screen {
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    line-height: 1.5em;
    padding: 1.5em;
    background-color: #f9fafb;
    width: 70%;
    margin: auto;
  }
  /* content container */
  .grd_container {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
  .grd_container_small {
    max-width: 500px;
    align-self: center;
  }
  .grd_text {
    max-width: 550px;
    margin-bottom: 5px;
  }
  .grd_text-max-width {
    max-width: 550px;
  }
}
@media screen and (max-width:619px) {
  .content {
    flex-direction: column;
  }
}
/* Ende @media screen */
/* ============================================================

  Print styles.

  Datei     :   print.css
  Datum     :   2020-04-30
  Autor     :   Christine Slotty
  Copyright :   Gradio

   ============================================================*/
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
  * {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: transparent !important;
  }
  html {
    background-color: #111;
  }
  /* Hide navigation */
  nav {
    display: none;
  }
  /* Show link destinations in brackets after the link text */
  a[href]:after {
    content: " (" attr(href) ") ";
  }
  a[href] {
    font-weight: bold;
    text-decoration: underline;
    color: #06c;
    border: none;
  }
  /* Don't show link destinations for JavaScript or internal links */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Show abbr title value in brackets after the text */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  figure {
    margin-bottom: 1em;
    overflow: hidden;
  }
  figure img {
    border: 1px solid #000;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12.07.2019, 07:59:32
    Author     : einhornimmond
*/
div[role='grd_dialog'] {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}
div.grd_modal-dialog {
  margin-top: 100px;
  min-height: 200px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  color: #000;
  border: 1px solid grey;
}
div.grd_modal-dialog.grd_dialog-large {
  margin-top: 5px;
  width: 90%;
}
div.grd_modal-body {
  padding: 25px;
}
div.grd_modal-header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  padding-left: 15px;
  border: 1px solid grey;
  color: #000;
}
div.grd_modal-footer {
  background-color: rgba(0, 0, 0, 0.1);
  height: 40px;
}
.grd_modal-footer a,
.grd_modal-footer button {
  float: right;
  padding: 9px;
  margin-right: 10px;
  border: 1px solid grey;
}
.grd_modal-footer a:hover,
.grd_modal-footer button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30.10.2019, 14:41:57
    Author     : einhornimmond
*/
/* Button */
.grd-form-bn:hover,
.grd-active {
  background-color: lightgray;
  border-color: #000;
}
.grd-form-bn {
  padding: 5px;
  border: 1px solid grey;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #444;
}
a.grd-form-bn,
a.grd-form-bn:visited {
  color: #000;
  text-decoration: none;
}
.grd-form-bn-succeed {
  background-color: lightcyan;
  color: green;
  margin-top: 3px;
  margin-bottom: 3px;
}
.grd-form-bn-succeed:not([disabled]):hover {
  background-color: lightgreen;
}
.grd-form-bn-discard {
  margin-left: 5px;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}
/* form elements */
.grd_textarea {
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  font-style: italic;
}
.grd-input label {
  display: block;
}
input.grd-privkey {
  width: 465px;
}
input.grd-pubkey {
  width: 465px;
}
input.grd-non-der-keys {
  width: 900px;
}
input:not([type='radio']) {
  width: 200px;
}
label:not(.grd_radio_label) {
  width: 80px;
  display: inline-block;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13.10.2019, 15:43:58
    Author     : einhornimmond
*/
.grd-time-used {
  position: fixed;
  bottom: 0;
  left: 0;
  color: grey;
  font-size: smaller;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30.10.2019, 16:04:16
    Author     : einhornimmond
*/
/* messages, update flash */
.grd-error {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.5);
  padding: 5px;
}
.grd-info {
  border: 1px dotted gray;
  padding: 5px;
}
.grd-success {
  padding: 5px;
  color: green;
}
.flash-messages .message {
  padding: 5px;
}
.flash-messages .success {
  color: green;
}
.flash-messages .error {
  color: red;
}
