extend ../layout.pug

block content
  .wrapper.wf-section
    .w-container(class="wrapper_head")
      h1.headline.h1=  t('emails.transactionLinkRedeemed.title', { senderFirstName, senderLastName })
      .text-block
        include ../includes/salutation.pug
        p= t('emails.transactionLinkRedeemed.hasRedeemedYourLink', { senderFirstName, senderLastName, senderEmail })
    .content.w-container
      h2.heading= t('emails.general.transactionDetails')
      div(class="p_content")= t('emails.general.amountGDD', { amountGDD: transactionAmount })
        br
        = t('emails.transactionLinkRedeemed.memo', { transactionMemo })
        br
        = t('emails.general.detailsYouFindOnLinkToYourAccount')
      a.button-3.w-button(href="https://gdd.gradido.net/transactions") #{t('emails.general.toAccount')}

      include ../includes/doNotReply.pug
