# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=gradido_community
TYPEORM_LOGGING_RELATIVE_PATH=typeorm.dht-node.log

# SET LOG LEVEL AS NEEDED IN YOUR .ENV
# POSSIBLE VALUES: all | trace | debug | info | warn | error | fatal
# LOG_LEVEL=info

# Federation
# if you set the value of FEDERATION_DHT_TOPIC, the DHT hyperswarm will start to announce and listen on an hash created from this topic
FEDERATION_DHT_TOPIC=GRADIDO_HUB
FEDERATION_DHT_SEED=64ebcb0e3ad547848fed4197c6e1332f
FEDERATION_COMMUNITY_URL=http://localhost
# comma separated values, which apis should be announced
FEDERATION_COMMUNITY_APIS=1_0