name: Linting backend

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    outputs:
      config-schema: ${{ steps.config-schema.outputs.success }}
      shared: ${{ steps.shared.outputs.success }}
      core: ${{ steps.core.outputs.success }}
      backend: ${{ steps.backend.outputs.success }}
      database: ${{ steps.database.outputs.success }}
      dht-node: ${{ steps.dht-node.outputs.success }}
      dlt-connector: ${{ steps.dlt-connector.outputs.success }}
      federation: ${{ steps.federation.outputs.success }}
    name: Linting backend modules
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.0.0
      - name: Lint - Config-Schema
        id: config-schema
        run: |
          cd ./config-schema 
          biome ci . 
          echo "success=$([ $? -eq 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT
      - name: Lint - Shared
        id: shared
        run: |
          cd ./shared 
          biome ci .
          echo "success=$([ $? -eq 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT
      - name: Lint - Core
        id: core
        run: |
          cd ./core 
          biome ci .
          echo "success=$([ $? -eq 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT
      - name: Lint - Backend
        id: backend
        run: |
          cd ./backend 
          biome ci .
          echo "success=$([ $? -eq 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT
      - name: Lint - Database Up
        id: database
        run: |
          cd ./database 
          biome ci . 
          echo "success=$([ $? -eq 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT
      - name: Lint - DHT Node
        id: dht-node
        run: |
          cd ./dht-node 
          biome ci .
          echo "success=$([ $? -eq 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT
      - name: Lint - DLT Connector
        id: dlt-connector
        run: |
          cd ./dlt-connector 
          biome ci .
          echo "success=$([ $? -eq 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT
      - name: Lint - Federation
        id: federation
        run: |
          cd ./federation 
          biome ci .
          echo "success=$([ $? -eq 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT