name: Gradido Shared Test CI

on: push

jobs:
  files-changed:
    name: Detect File Changes - Shared
    runs-on: ubuntu-latest
    outputs:
      shared: ${{ steps.changes.outputs.shared }}
    steps:
      - uses: actions/checkout@v3.3.0

      - name: Check for shared file changes
        uses: dorny/paths-filter@v2.11.1
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml
          list-files: shell

  build:
    name: Unit Tests, typecheck - Shared
    if: needs.files-changed.outputs.shared == 'true'
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: install bun 
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: '.bun-version'

      - name: install dependencies
        run: bun install --filter shared --frozen-lockfile

      - name: typecheck
        run: cd shared && yarn typecheck

      - name: unit tests
        run: cd shared && yarn test

