name: Gradido Config Schema Test CI

on: push

jobs:
  files-changed:
    name: Detect File Changes - Config-Schema
    runs-on: ubuntu-latest
    outputs:
      config: ${{ steps.changes.outputs.config }}
      docker-compose: ${{ steps.changes.outputs.docker-compose }}
    steps:
      - uses: actions/checkout@v3.3.0

      - name: Check for config-schema file changes
        uses: dorny/paths-filter@v2.11.1
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml
          list-files: shell

  build:
    name: Unit Tests, typecheck - Config-Schema
    if: needs.files-changed.outputs.config == 'true' || needs.files-changed.outputs.docker-compose == 'true'
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: install bun 
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: '.bun-version'

      - name: install dependencies
        run: bun install --filter config-schema --frozen-lockfile

      - name: typecheck
        run: cd config-schema && bun run typecheck

      - name: unit tests
        run: cd config-schema && bun run test

