name: gradido test CI

on: push

jobs:
  ##############################################################################
  # JOB: DOCKER BUILD TEST BACKEND #############################################
  ##############################################################################
  build_test_backend:
    name: Docker Build Test - Backend
    runs-on: ubuntu-latest
    #needs: [nothing]
    steps:
      ##########################################################################
      # CHECKOUT CODE ##########################################################
      ##########################################################################
      - name: Checkout code
        uses: actions/checkout@v3
      ##########################################################################
      # BACKEND ################################################################
      ##########################################################################
      - name: Backend | Build `test` image
        run: |
          docker build -f ./backend/Dockerfile --target test -t "gradido/backend:test" .
          docker save "gradido/backend:test" > /tmp/backend.tar
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: docker-backend-test
          path: /tmp/backend.tar

  ##############################################################################
  # JOB: LINT BACKEND ##########################################################
  ##############################################################################
  lint_backend:
    name: Lint - Backend
    runs-on: ubuntu-latest
    steps:
      ##########################################################################
      # CHECKOUT CODE ##########################################################
      ##########################################################################
      - name: Checkout code
        uses: actions/checkout@v3
      ##########################################################################
      # LINT BACKEND ###########################################################
      ##########################################################################
      - name: backend | Lint
        run: cd database && yarn && cd ../backend && yarn && yarn run lint

  ##############################################################################
  # JOB: LOCALES BACKEND #######################################################
  ##############################################################################
  locales_backend:
    name: Locales - Backend
    runs-on: ubuntu-latest
    steps:
      ##########################################################################
      # CHECKOUT CODE ##########################################################
      ##########################################################################
      - name: Checkout code
        uses: actions/checkout@v3
      ##########################################################################
      # LOCALES BACKEND #####################################################
      ##########################################################################
      - name: Backend | Locales
        run: cd backend && yarn && yarn locales
  
  

  ##############################################################################
  # JOB: UNIT TEST BACKEND  ####################################################
  ##############################################################################
  unit_test_backend:
    name: Unit tests - Backend
    runs-on: ubuntu-latest
    needs: [build_test_mariadb]
    steps:
      ##########################################################################
      # CHECKOUT CODE ##########################################################
      ##########################################################################
      - name: Checkout code
        uses: actions/checkout@v3
      ##########################################################################
      # DOWNLOAD DOCKER IMAGES #################################################
      ##########################################################################
      - name: Download Docker Image (Mariadb)
        uses: actions/download-artifact@v3
        with:
          name: docker-mariadb-test
          path: /tmp
      - name: Load Docker Image
        run: docker load < /tmp/mariadb.tar
      ##########################################################################
      # UNIT TESTS BACKEND #####################################################
      ##########################################################################
      - name: backend | docker-compose mariadb
        run: docker-compose -f docker-compose.yml -f docker-compose.test.yml up --detach --no-deps mariadb
      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash
      - name: backend | docker-compose database
        run: docker-compose -f docker-compose.yml -f docker-compose.test.yml up --detach --no-deps database
      - name: backend Unit tests | test
        run: cd database && yarn && yarn build && cd ../backend && yarn && yarn test

