name: Gradido DHT Node Test CI

on: push

jobs:
  files-changed:
    name: Detect File Changes - DHT Node
    runs-on: ubuntu-latest
    outputs:
      config: ${{ steps.changes.outputs.config }}
      database: ${{ steps.changes.outputs.database }}
      dht_node: ${{ steps.changes.outputs.dht_node }}
      docker-compose: ${{ steps.changes.outputs.docker-compose }}
    steps:
      - uses: actions/checkout@v3.3.0

      - name: Check for dht-node, config-schema, database, docker-compose file changes
        uses: dorny/paths-filter@v2.11.1
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml
          list-files: shell

  build:
    name: Docker Build Test - DHT Node
    if: needs.files-changed.outputs.config == 'true' || needs.files-changed.outputs.database == 'true' || needs.files-changed.outputs.dht_node == 'true' || needs.files-changed.outputs.docker-compose == 'true'
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build 'production' image
        run: docker build --target production -t "gradido/dht-node:production" -f dht-node/Dockerfile .

  unit_test:
    name: Unit Tests & Typecheck & Build - DHT Node
    if: needs.files-changed.outputs.config == 'true' || needs.files-changed.outputs.database == 'true' || needs.files-changed.outputs.dht_node == 'true' || needs.files-changed.outputs.docker-compose == 'true'
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - name: Set Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '18.20.7'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: docker-compose mariadb redis
        run: docker compose -f docker-compose.yml -f docker-compose.test.yml up --detach --no-deps mariadb redis

      - name: install bun 
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: '.bun-version'

      - name: install dependencies
        run: |
          bun install --filter dht-node --frozen-lockfile
          bun install --global --no-save turbo@^2

      - name: run unit test & build & typecheck
        run: turbo dht-node#test dht-node#build dht-node#typecheck

