.auth-navbar > a, .auth-navbar > a:hover {
  color: #0e79bc;
}

.auth-navbar > a.router-link-exact-active {
  color: #383838;
}

.auth-template a:hover,
.auth-template .btn:hover,
.auth-template .language-switch .locales:hover {
  text-decoration: underline;
}
